
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <a asp-action="create" class="btn btn-primary">Create</a>
        </div>
        <div class="col-md-10 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">GenreName</th>
                        <th scope="col">AuthorName</th>
                        <th scope="col">Name</th>
                        <th scope="col">Desc</th>
                        <th scope="col">SubDesc</th>
                        <th scope="col">SalePrice</th>
                 @*       <th scope="col">CostPrice</th>
                        <th scope="col">DiscountPercent</th>
                        <th scope="col">PageSize</th>
                        <th scope="col">IsAvailable</th>
                        <th scope="col">Rate</th>*@
                        <th scope="col">Actions</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@book.Genre.Name</td>
                        <td>@book.Author.FullName</td>
                        <td>@book.Name</td>
                        <td>@book.Desc</td>
                        <td>@book.SubDesc</td>
                        <td>@book.SalePrice</td>
            @*            <td>@book.CostPrice</td>
                        <td>@book.DiscountPercent</td>
                        <td>@book.PageSize</td>
                        <td>@book.IsAvailable</td>
                        <td>@book.Rate</td>*@
                        <td>
                            <a asp-action="edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>